@import "tailwindcss";

@theme inline {
  @keyframes scroll-target-fade {
    from {
      background-color: rgba(206, 186, 244, 0.2);
      box-shadow: 0 0 0 3px rgba(206, 186, 244, 0.8);
    }

    to {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

@variant target {
  &:target {
    @slot;
  }
}
